{% extends "base.html" %}
<!-- {% load %} -->
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ account.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ account.username }}</h2>
            <p class="text-secondary">{{ account.full_name }}</p>
            <p class="text-secondary">{{ account.phone }}</p>
            <p class="text-secondary">{{ account.email }}</p>
        </div>
    </div>


    {% if objects %}
    {% for obj in objects %}
    <ul>
        <li>
            <a href="/house/{{object.id}}">{{ obj.title }} - {{ obj.address }}</a>
        </li>
    </ul>
    {% endfor %}
    {% endif %}

    {% if rent %}
    <div>
        <h3>House Name: {{ rent.title }}</h3>
        <h3>Date Rented: {{ rent.date_rented }}</h3>
        <h3>Last Payment: {{ rent.last_payment_date }}</h3>
        <h3>Rent (per month): {{ rent.price }} $</h3>
    </div>
    {% endif %}


    {% if not view %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ p_form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock content %}