{% extends "base.html" %}

{% block content %}
{% if object %}
<div>
    <h1>{{ object.title }}</h1>
    <h2>{{ object.address }}</h2>
    <img src="{{ object.image.url }}" alt="house-image">
    <ul>
        <li>Number of Rooms: {{ object.rooms }}</li>
        <li>Number of Balconies: {{ object.balcony }}</li>
        <li>Number of Washrooms: {{ object.washroom }}</li>
        <li>Number of Kitchens: {{ object.kitchen }}</li>
        <li>Owner of House: <a href="/profile/{{ owner.username }}">{{ owner.username }}</a></li>
    </ul>
    <p>Rent amount(monthly): <i>{{ object.price }}</i></p>
    {% if object.description %}
    <p>{{ object.description }}</p>
    {% endif %}

    {% if is_tenant %}
    <form action="/rent/" method="GET">
        <!-- {% csrf_token %} -->
        <p>Do you want to confirm renting {{ object.title }}</p>
        <button type="submit" name="title" value="{{ object.title }}">Confirm</button>
    </form>
    {% endif %}
</div>
{% else %}
<p>Content No Loger Available</p>
{% endif %}


{% endblock content %}