{% extends "base.html" %}

{% block content %}
{% if object %}
<div>
    <h1>{{ object.title }}</h1>
    <h2>{{ object.address }}</h2>
    <img src="{{ object.image.url }}" alt="house-image">
    <ul>
        <li>Number of Rooms: {{ object.room }}</li>
        <li>Number of Balconies: {{ object.balcony }}</li>
        <li>Number of Washrooms: {{ object.washroom }}</li>
        <li>Number of Kitchens: {{ object.kitchen }}</li>
    </ul>
    <p>Rent amount(monthly): <i>{{ object.price }}</i></p>
    {% if object.description %}
    <p>{{ object.description }}</p>
    {% endif %}
    <form action="/rent" method="POST">
        <select name="rent">
            <option value="interested">Interested</option>
            <option value="confirm">Confirm Rent</option>
        </select>
        <input type="submit">
    </form>
</div>
{% else %}
<p>Content No Loger Available</p>
{% endif %}


{% endblock content %}